projeto/pesos/*
!projeto/pesos/.gitkeep 

projeto/modelos/*
!projeto/modelos/.gitkeep 

projeto/classificadores/*
!projeto/classificadores/.gitkeep

raiox/*
!raiox/.gitkeep

projeto/.ipynb_checkpoints

.DS_Store
analise-imagens-medicas-colab.ipynb
.ipynb_checkpoints/analise-imagens-medicas-checkpoint.ipynb
Variables_ValuesStored.xlsx
modelo-xception.hdf5
modelo-xception_pesos.hdf5
